  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">IETI</h5>
	  <p class="grey-text text-lighten-4">Innovació Esteve Terradas i Illa<br>Cornellà de Llobregat.</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Enllaços</h5>
          <ul>
            <li><a class="white-text" href="http://www.esteveterradas.cat">www.esteveterradas.cat</a></li>
            <li><a class="white-text" href="http://ieti.cat">Innovació IETI.cat</a></li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Contacta</h5>
          <ul>
            <li><a class="white-text" href="mailto:ieti@ieti.cat">Contacta l'administrador</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
