{% extends 'base.html' %}

{% block content %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Portal Integrat FP</h1>
      <div class="row center">
        <h5 class="header col s12 light">Una iniciativa de IETI - Innovació Esteve Terradas</h5>
      </div>
      {% if request.user.is_anonymous %}
      <div class="row center">
        <a href="/login" id="init-button" class="btn-large waves-effect waves-light orange">Comença</a>
      </div>
      <br><br>
      {% endif %}

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <!-- section 1 -->
        <div class="col s12 m4">
          <div class="icon-block">
      {% if not request.user.es_admin_empresa %}
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
      {% if not request.user.is_anonymous %}
            <div class="row center">
              <a href="/admin/scrum" id="abp-button" class="btn-large waves-effect waves-light orange">Scrum / ABP</a>
            </div>
      {% else %}
            <h5 class="center">Scrum / ABP</h5>
      {% endif %}
            <p class="light">Gestiona els projectes a l'aula amb metodologia Scrum.</p>
      {% endif %}
          </div>
        </div>

        <!-- section 2 -->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">work</i></h2>
      {% if not request.user.is_anonymous %}
            <div class="row center">
              <a href="/admin/borsApp" id="borsa-button" class="btn-large waves-effect waves-light orange">Borsa de Treball</a>
            </div>
      {% else %}
            <h5 class="center">Borsa de Treball</h5>
      {% endif %}
            <p class="light">Centralitzant les ofertes de treball relacionades amb les titulacions ofertes pels centres educatius de la comarca. Hem començat pel Baix Llobregat, però pensem en integrar més comarques.</p>
          </div>
        </div>

        <!-- section 3 -->
        <div class="col s12 m4">
          <div class="icon-block">
      {% if not request.user.es_admin_empresa %}
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Portal integral</h5>

            <p class="light">El projecte ha començant entorn de diverses necessitats concretes dels institus que imparteixen cicles formatius, però pensem en un portal que integri la gestió del centre educatiu i que la faci més eficient.</p>
      {% endif %}
          </div>
        </div>



      </div>

    </div>
    <br><br>
  </div>


{% endblock %}

